<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <title>Frontend Mentor | Notifications page with Vue.js</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <link rel="stylesheet" href="css/mainStyle.css" type="text/css" />
  <!-- Incorporando Vue.js al proyecto -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/main.js" defer></script>
  	
</head>
<body>
	<main id="app" class="notifications">
		<header class="notifications__header">
			<h1 class="notifications__mainTitle">{{ title }}</h1> 
			<span class="unread__counter">{{ unreadCounter }}</span>
			<a @click.prevent="markAllRead" class="markAllRead__link" href="#">Mark all as read</a>
		</header>
		<!-- Notification Unread-->
		<transition-group name="list">
			<article class="notification notification--unread"
					 v-for="message in allUnreadMessages"
					 :key="message.id"
					 @click="moveToReadList(message)">
				<img class="avatar" :src="message.avatar" :alt="message.id" />
				<p class="notification__message"><span v-html="message.mainMessage"></span> <span :class="{notification__flag: message.unread }"> </span></p>
				<p class="date">{{ message.date }}</p>
				<p class="notification__privateMsg" v-if="message.privateMessage">
					{{ message.privateMessage}}
				</p>
				<img class="notification__picture" v-if="message.picture" :src="message.picture" alt="picture" />
			</article>
		</transition-group>
		<!-- Notification Read-->
		<transition-group name="list">
			<article class="notification"
					 v-for="message in allReadMessages"
					 :key="message.id">
				<img class="avatar" :src="message.avatar" :alt="message.id" />
				<p class="notification__message"><span v-html="message.mainMessage"></span></p>
				<p class="date">{{ message.date }}</p>
				<p class="notification__privateMsg" v-if="message.privateMessage">
					{{ message.privateMessage}}
				</p>
				<img class="notification__picture" v-if="message.picture" :src="message.picture" alt="picture" />
			</article>
		</transition-group>
	</main>
	<footer class="attribution">
		Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
		Coded by <a href="#">Pablo Malave</a>.
	</footer>
</body>
</html>
